body {
    /*background-image: url('../img/ice-background.jpg');*/
    background-color: #0f0b07;
    font-family: "Contrail One", Helvetica, Arial, sans-serif;
    color: #FFF78C;
    text-shadow:
    3px 3px 0 #241F10,
    /* Simulated effect for Firefox and Opera
       and nice enhancement for WebKit */
   -1px -1px 0 #241F10,
    1px -1px 0 #241F10,
   -1px  1px 0 #241F10,
    1px  1px 0 #241F10;
}

header {
    height: 100px;
    text-align: center;
    background-color: transparent;
    margin-bottom: 2rem;
}

header h1 {
    display: inline-block;
    padding: 2rem 0;
}

h1 .fa, h1 a {
    color: #FFF78C;
    text-decoration: none;
    padding: 0 1rem;
    -webkit-transition: text-shaddow 2s ease;
    transition: text-shaddow 2s ease;
}

#mainHeader:hover {
    background-color: #FFF78C;
    color: #0f0b07;
    text-shadow: none;
}

#twitterHeader:hover {
    background-color: #55ACEE;
    text-shadow: none;
}

.videoContainer {
    max-width: 720px;
    margin: 0 auto;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}

.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.gameContainer {
    padding: 2rem;
    text-align: center;
}

.game img {
    padding: 3px;
}

.game span {
    padding: 15px 0;
}
