.team.away-ANA {
  color: #F57D31;
  background: #FFFFFF;
}

.team.home-ANA {
  color: #F57D31;
  background: #000000;
}

.team.away-ARI {
  color: #98012E;
  background: #FFFFFF;
}

.team.home-ARI {
  color: #EEE3C7;
  background: #98012E;
}

.team.away-BOS {
  color: #FDB930;
  background: #FFFFFF;
}

.team.home-BOS {
  color: #FDB930;
  background: #000000;
}

.team.away-BUF {
  color: #002D62;
  background: #FDB930;
}

.team.home-BUF {
  color: #FDB930;
  background: #002D62;
}

.team.away-CGY {
  color: #CB0D0D;
  background: #FFFFFF;
}

.team.home-CGY {
  color: #FDBF12;
  background: #CB0D0D;
}

.team.away-CAR {
  color: #E51A38;
  background: #FFFFFF;
}

.team.home-CAR {
  color: #000000;
  background: #E51A38;
}

.team.away-CHI {
  color: #C60C30;
  background: #FFFFFF;
}

.team.home-CHI {
  color: #000000;
  background: #C60C30;
}

.team.away-COL {
  color: #822433;
  background: #FFFFFF;
}

.team.home-COL {
  color: #165788;
  background: #822433;
}

.team.away-CBJ {
  color: #002147;
  background: #FFFFFF;
}

.team.home-CBJ {
  color: #C60C30;
  background: #002147;
}

.team.away-DAL {
  color: #016F4A;
  background: #FFFFFF;
}

.team.home-DAL {
  color: #FFFFFF;
  background: #016F4A;
}

.team.away-DET {
  color: #E51837;
  background: #FFFFFF;
}

.team.home-DET {
  color: #FFFFFF;
  background: #E51837;
}

.team.away-EDM {
  color: #013E7F;
  background: #EB6E1E;
}

.team.home-EDM {
  color: #EB6E1E;
  background: #013E7F;
}

.team.away-FLA {
  color: #C51230;
  background: #FFFFFF;
}

.team.home-FLA {
  color: #F1B310;
  background: #C51230;
}

.team.away-LAK {
  color: #B2B7BB;
  background: #FFFFFF;
}

.team.home-LAK {
  color: #B2B7BB;
  background: #000000;
}

.team.away-MIN {
  color: #004F30;
  background: #FFFFFF;
}

.team.home-MIN {
  color: #EEE3C7;
  background: #004F30;
}

.team.away-MTL {
  color: #002D62;
  background: #C51230;
}

.team.home-MTL {
  color: #C51230;
  background: #002D62;
}

.team.away-NSH {
  color: #002D62;
  background: #FDBB30;
}

.team.home-NSH {
  color: #FDBB30;
  background: #002D62;
}

.team.away-NJD {
  color: #E03A3E;
  background: #FFFFFF;
}

.team.home-NJD {
  color: #000000;
  background: #E03A3E;
}

.team.away-NYI {
  color: #00529B;
  background: #F57D31;
}

.team.home-NYI {
  color: #F57D31;
  background: #00529B;
}

.team.away-NYR {
  color: #0161AB;
  background: #FFFFFF;
}

.team.home-NYR {
  color: #E51837;
  background: #0161AB;
}

.team.away-OTT {
  color: #E51837;
  background: #000000;
}

.team.home-OTT {
  color: #E51837;
  background: #000000;
}

.team.away-PHI {
  color: #000000;
  background: #F4793E;
}

.team.home-PHI {
  color: #F4793E;
  background: #000000;
}

.team.away-PIT {
  color: #000000;
  background: #FCBA41;
}

.team.home-PIT {
  color: #FCBA41;
  background: #000000;
}

.team.away-STL {
  color: #00529C;
  background: #FDB930;
}

.team.home-STL {
  color: #FDB930;
  background: #00529C;
}

.team.away-SJS {
  color: #007889;
  background: #FFFFFF;
}

.team.home-SJS {
  color: #007889;
  background: #000000;
}

.team.away-TBL {
  color: #003D7C;
  background: #FFFFFF;
}

.team.home-TBL {
  color: #FFFFFF;
  background: #003D7C;
}

.team.away-TOR {
  color: #013E7F;
  background: #FFFFFF;
}

.team.home-TOR {
  color: #FFFFFF;
  background: #013E7F;
}

.team.away-VAN {
  color: #003E7E;
  background: #FFFFFF;
}

.team.home-VAN {
  color: #008852;
  background: #003E7E;
}

.team.away-VGK {

}

.team.home-VGK {

}

.team.away-WAS {
  color: #C60C30;
  background: #FFFFFF;
}

.team.home-WAS {
  color: #002147;
  background: #C60C30;
}

.team.away-WPG {
  color: #006EC8;
  background: #FFFFFF;
}

.team.home-WPG {
  color: #FFFFFF;
  background: #006EC8;
}
