.team.away-ANA {

}

.team.home-ANA {

}

.team.away-ARI {

}

.team.home-ARI {

}

.team.away-BOS {

}

.team.home-BOS {

}

.team.away-BUF {

}

.team.home-BUF {

}

.team.away-CGY {

}

.team.home-CGY {

}

.team.away-CAR {

}

.team.home-CAR {

}

.team.away-CHI {

}

.team.home-CHI {

}

.team.away-COL {

}

.team.home-COL {

}

.team.away-CBJ {

}

.team.home-CBJ {

}

.team.away-DAL {

}

.team.home-DAL {

}

.team.away-DET {

}

.team.home-DET {

}

.team.away-EDM {

}

.team.home-EDM {

}

.team.away-FLA {

}

.team.home-FLA {

}

.team.away-LAK {

}

.team.home-LAK {

}

.team.away-MIN {

}

.team.home-MIN {

}

.team.away-MTL {

}

.team.home-MTL {

}

.team.away-NSH {

}

.team.home-NSH {

}

.team.away-NJD {

}

.team.home-NJD {

}

.team.away-NYI {

}

.team.home-NYI {

}

.team.away-NYR {
  color: lightgreen;
}

.team.home-NYR {
  color: lightgreen;
}

.team.away-OTT {
  color: #E51837;
  background: #000000;
}

.team.home-OTT {
  color: #E51837;
  background: #000000;
}

.team.away-PHI {

}

.team.home-PHI {

}

.team.away-PIT {

}

.team.home-PIT {

}

.team.away-STL {

}

.team.home-STL {

}

.team.away-SJS {

}

.team.home-SJS {

}

.team.away-TBL {

}

.team.home-TBL {

}

.team.away-TOR {
  color: #013E7F;
  background: #FFFFFF;
}

.team.home-TOR {
  color: #FFFFFF;
  background: #013E7F;
}

.team.away-VAN {

}

.team.home-VAN {

}

.team.away-VGK {

}

.team.home-VGK {

}

.team.away-WAS {

}

.team.home-WAS {

}

.team.away-WPG {

}

.team.home-WPG {

}
