@import 'Teams';

.matchup {
  display: inline-block;
  height: 100%;
  cursor: pointer;
	border-bottom: 5px solid;
}

.team {
  font-size: 3em;
  padding: 15px 0;
  display: inline-block;
  width: 50%;
  text-align: center;
  letter-spacing: 5px;
}
