.gamesList {
  width: 100%;
  max-width: 960px;
  display: block;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  li {
    margin: 1em;
  }
}

@media (max-width: 640px) {
  .gamesList {
    li {
      margin: 0;
    }
  }
}
