header {
  color: white;
  padding: 1.6em 0;
  background: #009AD8;

  input[type="text"] {
    border: none;
    text-align: center;
    font-size: 2em;
    font-family: 'VT323';
    width: 150px;
    color: white;
    background: transparent;
    cursor: pointer;
    &:focus {
      outline: none;
    }
  }

  span {
    font-size: 1.6em;
  }
}
