#frameContainer {
    margin: 0 auto;
    display: block;
    width: 100%;
    max-width: 640px;
    padding-bottom: 56.25%;
    iframe {
        position: relative;
        top: 0;
        left: 0;
    }
}
